.settings-container {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);

  .preference {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0.5rem auto 0.5rem auto;

    :nth-child(1) {
      justify-self: flex-end;
      margin-right: 0.5rem;
      width: max-content;
    }

    :nth-child(2) {
      justify-self: flex-start;
      margin-left: 0.5rem;
    }

    div {
      display: flex;
    }
  }
}

@media only screen and (max-height: 640px) and (orientation: landscape) {
  .settings-container {
    top: 50%;
    bottom: unset;
    left: unset;
    right: 2rem;
    transform: translateY(-50%);
  }
}